<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<beans>
		<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
			<property name="driverClass" value="oracle.jdbc.driver.OracleDriver"/>
			<property name="url" value="Jdbc:oracle:thin:@nacinaci.cafe24.com:1522:xe"/>
			<property name="username" value="hr"/>
			<property name="password" value="hr"/>
		</bean>
		
		
		<bean id="userDao" class="com.study.springStudy_1.UserDao">
			<property name="dataSource" ref="dataSource"/>
		</bean>
	</beans>

</beans>
